.notification{
    display: flex!important;
    justify-content: center!important;
    font-size: large!important;
    position: absolute;
    top: 40px;
    right: 50px;   
    width:20% !important;
    z-index: 1000;
    padding: 0.5rem;
}


.extTable {

    height: 20em;
    overflow-y: scroll;
}

.mh {
    max-height:  100vh;
    overflow: hidden;
}